# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Java / Maven
log/
target/
*.jar
atlassian-ide-plugin.xml

# Node
node_modules
.grunt
dist/

# Cucumber
.bundle