<!-- <p>&copy; 2015 Sky UK</p> -->

<div class="container-fluid">
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <p class="text-center text-muted">
                Solution by <strong>MAURICIO FERREIRA</strong>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-center text-muted">
                <a href="https://github.com/supermalf"
                   title="Github profile"
                   target="_blank"
                   class="text-muted h3 link-black"><i class="fa fa-fw fa-github"></i></a>

                <a href="https://uk.linkedin.com/in/supermalf"
                   title="LinkedIn profile"
                   target="_blank"
                   class="text-muted h3 link-danger"><i class="fa fa-fw fa-linkedin"></i></a>

                <a href="http://stackoverflow.com/users/2359285/malf"
                   title="Stackoverflow profile"
                   target="_blank"
                   class="text-muted h3 link-danger"><i class="fa fa-fw fa-stack-overflow"></i></a>
            </p>
        </div>
    </div>
</div>
